<h2>El registro fue almacenado con éxito!</h2>

<table style="width:100%">
  <tr>
    <th>Codigo</th>
    <th>Detalle</th>
    <th>Categoria</th>
    <th>Valor Venta</th>
    <th>Descuento</th>
    <th>IVA</th>
    <th>Total final venta</th>
  </tr>
    <tr>
      <th> <%= @sale.cod %> </th>
      <th> <%= @sale.detail %> </th>
      <th> <%= @sale.category %> </th>
      <th> <%= @sale.value %> </th>
      <th> <%= @sale.discount %> </th>
      <th> <%= @sale.tax %> </th>
      <th> <%= @sale.total %> </th>
    </tr>
</table>

<div> <%= link_to "Volver", sales_new_path, class:"btn btn-primary mt-4 ml-4"%> </div>
